body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: pink;
}
{
    margin: 0;
    padding: 0;
box-sizing: border-box
}

logo {
    width: 200px;
    margin: 20px
}

main {
    border: 1px
    max-width: 786px
    margin: 0 auto
}

h1{
    font-weight: 700;
    text-transform: uppercase;
}

h1, p{
    color: blue;
    text-align: center;
}

button{
    color: green;
}